<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- th:replace 引入子模块的所有，不保留父模块的Tag -->
<head th:replace="fragments/head"></head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed ">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- 头部区域 -->
    <th:block th:replace="fragments/main-header"></th:block>
    <!-- 左侧菜单 -->
    <th:block th:replace="fragments/main-sidebar"></th:block>
    <!-- 右侧主区域 Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <img th:src="@{/modules/img/index.jpg}" src="../modules/img/index.jpg" width="100%" height="100%">
    </div>
    <!-- /.content-wrapper -->
    <!--右底部区域-->
    <th:block th:replace="fragments/main-footer"/>
    <!-- 右上角工具栏 Control Sidebar -->
    <th:block th:replace="fragments/control-sidebar"/>
</div>
<!-- ./wrapper -->

<!--js公共代码-->
<th:block th:replace="fragments/script"/>
</body>
</html>
